<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
    <Property name="filename">test.log</Property>
    <Property name="pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${pattern}"/>
    </Console>
    <RandomAccessFile name="MyFile" fileName="${filename}">
      <PatternLayout pattern="${pattern}">
      </PatternLayout>
    </RandomAccessFile>
     <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="roll.log"
                 filePattern="roll-%d{hh-mm-ss}-%i.log">
      <PatternLayout pattern="${pattern}" />
      <Policies>
          <OnStartupTriggeringPolicy />
        <TimeBasedTriggeringPolicy interval="10" />
        <SizeBasedTriggeringPolicy size="2 MB"/>
      </Policies>
    </RollingRandomAccessFile>
  </Appenders>
 
  <Loggers>
      <Logger name="quevedo.hibernatetest.Main" level="INFO" additivity="false">
          <AppenderRef ref="RollingRandomAccessFile"/>
      </Logger>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
